h1 {
  text-align: center;
  background-color: #ff9fad;
  color:#2984ff;
  }
body {
  background-color: #ffeaea;
}
img.displayed{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
}
label {
  text-align: center;
  color:#3fdba8
}
h4 {
  text-align: center;
  color:#ff4e50;
}
p {
  color: red;
}
#hawaii, #jtree, #gorge, #losangeles {
    display: none;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height:400px;
  border-radius: 100px
}
.radio {
  text-align: center;
  }
