h1 {
  text-align: center;
  color:#2984ff;
  }
img.displayed{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h3 {
  text-align: center;
  color:#3fdba8
}
#swim, #hot, #hike, #museum{
  display: none;
}
